#ifndef INC_DNNI_MIXER_CONFIG_H
#define INC_DNNI_MIXER_CONFIG_H

#include <stdint.h>
#include "message_assignment.h"
#include "gpi/tools.h"

static const uint8_t nodes[] = { {% for node in nodes %} {{node}}, {% endfor %}};

#define NUM_PLANTS (NUM_ELEMENTS(nodes))
#define MAXIMUM_NUMBER_MESSAGES ({{maximum_number_messages}})
#define SIZE_ACTIVATIONS {{size_activations}}

{{message_assignment_list_code}}

{{message_assignment_code}}


#define MX_NUMBER_ROUNDS {{mx_number_rounds}}
#define MX_PAYLOAD_SIZE {{mx_payload_size}}
#define MX_ROUND_LENGTH {{mx_round_length}}
#define MX_SLOT_LENGTH GPI_TICK_US_TO_HYBRID2({{slot_length}})
#define ROUND_LENGTH_MS            ((MX_ROUND_LENGTH*MX_SLOT_LENGTH / (GPI_HYBRID_CLOCK_RATE / 1000000)) / 1000 + {{calculation_duration}})
#define MX_GENERATION_SIZE {{mx_generation_size}}

// ------------- Aggregatefield-------------

#define CONTROL_MSGS_M_C					0
#define PRIO_WIDTH							8
#define NODE_ID_WIDTH						5
#define AGGREGATE_CONTAINS_ALL_PRIORITIES	0

ASSERT_CT_STATIC(NUM_PLANTS <= ((1 << NODE_ID_WIDTH) - 1), NODE_ID_WIDTH_cannot_support_all_nodes);
ASSERT_CT_STATIC(NODE_ID_WIDTH <= 8, NODE_ID_WIDTH_greater_8_is_not_implemented);

#define AGGREGATE_SIZE_M_C_PRIORITIES	((NUM_PLANTS + CONTROL_MSGS_M_C * PRIO_WIDTH + CONTROL_MSGS_M_C * NODE_ID_WIDTH + 7) / 8)
#define AGGREGATE_SIZE_ALL_PRIORITIES	((NUM_PLANTS * PRIO_WIDTH + 7) / 8)


#if AGGREGATE_CONTAINS_ALL_PRIORITIES == 1
	#error "NOT IMPLEMENTED"
	#define AGGREGATE_SIZE	AGGREGATE_SIZE_ALL_PRIORITIES
#else
	#define AGGREGATE_SIZE	AGGREGATE_SIZE_M_C_PRIORITIES
#endif

typedef uint8_t priority_t;
ASSERT_CT_STATIC(PRIO_WIDTH <= (sizeof(priority_t) * 8), prob_info_t_needs_to_implement_support_for_priority_widths_greater_8_bit);


#endif /* INC_DNNI_MIXER_CONFIG_H */